services:
  traefik-pihole-dns-sync:
    image: ghcr.io/rpressiani/traefik-pihole-dns-sync:latest
    # build: .
    container_name: traefik-pihole-dns-sync
    restart: unless-stopped
    environment:
      - TRAEFIK_API_URL=${TRAEFIK_API_URL:-http://traefik:8080/api/http/routers}
      - PIHOLE_URL=${PIHOLE_URL:-https://pihole.example.com}
      - PIHOLE_PASSWORD=${PIHOLE_PASSWORD}
      - TRAEFIK_HOST_IP=${TRAEFIK_HOST_IP}
      - SYNC_INTERVAL=${SYNC_INTERVAL:-@every 5m}
      - LOG_LEVEL=${LOG_LEVEL:-info}
    networks:
      - traefik

networks:
  traefik:
    external: true
